$primary-bg-color: #f5f3f3;
$nc-color: #72045d;
$layout-breakpoint-small: 800px;

.main {
  padding: 0 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: $primary-bg-color;
  font-family: Open Sauce One;

  .title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 26px;
      color: $nc-color;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      font-size: 28px;
      margin: 0;
      font-weight: 400;
    }
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;

    @media (min-width: $layout-breakpoint-small) {
      flex-direction: row;
      gap: 28px;
      justify-content: center;
      width: fit-content;
    }

    .inputGroup {
      position: relative;
      width: 100%;

      input {
        background-color: transparent;
        width: 100%;
        border-width: 1px;
        border-radius: 4px;
        border-color: black;
        box-sizing: border-box;
        padding: 16px 16px;
        font-size: 14px;

        &:focus,
        &:focus-visible {
          outline: none;

          + label {
            top: -8px;
            left: 8px;
            font-size: 14px;
          }
        }

        @media (min-width: $layout-breakpoint-small) {
          width: 300px;
        }
      }
      label {
        position: absolute;
        left: 14px;
        top: 16px;
        background-color: $primary-bg-color;
        padding: 0 4px;
        font-size: 16px;
        font-family: Open Sauce One;

        transition:
          top 300ms ease,
          left 300ms ease;

        &.hasValue {
          top: -8px;
          left: 8px;
          font-size: 14px;
        }
      }
    }
  }
}
