<main class="main">
  @if (title) {
    <div class="title">
      <h1>Time to {{ title }}</h1>
      <h2>{{ countDown }}</h2>
    </div>
  }
  <div class="inputs">
    <div class="inputGroup">
      <input class="input" type="text" [(ngModel)]="title" />
      <label [ngClass]="{ hasValue: title !== '' }">Title</label>
    </div>
    <div class="inputGroup">
      <input class="input" type="text" [(ngModel)]="date" />
      <label [ngClass]="{ hasValue: date }">Date</label>
    </div>
  </div>
</main>

<router-outlet />
